/* Red navbar color*/
.navbar-default {
  background-color: #8f2d23;
  border-color: #681007;
}
.navbar-default .navbar-brand {
  color: #feffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #feffff;
}
.navbar-default .navbar-nav > li > a {
  color: #feffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #681007;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #681007;
}
.navbar-default .navbar-toggle {
  border-color: #681007;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #681007;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #feffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #feffff;
}
.navbar-default .navbar-link {
  color: #feffff;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Limit width of website 
#content, .navbar-default {
  width:800px;
}*/

/* Modal blue outline bug fix */
.modal-open .modal,.btn:focus{
      outline:none!important
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #feffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #681007;
  }
}

